@model Customer
<h1>Customer Details</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Name: @Model.Name</h5>
        <p class="card-text">ID: @Model.Id</p>
        <p class="card-text">Email: @Model.Email</p>
    </div>
</div>